<%- include('partials/header.ejs') %>
    
    <%- include('partials/navigation.ejs') %>

    <main class="double-flex blog-page" style="margin-top: 1rem;">
        <%- include('partials/article.ejs') %>
    </main>


<%- include('partials/footer.ejs') %>
